<<<<<<< HEAD
extends ../layout

block content

  p= msg
  table(class="uk-table uk-table-striped uk-table-small")
      thead
        tr
          th ID
          th Nome do produto
          th Preço do produto
          th Ação
      tfoot
      tbody
        each cardapio in produtos
          tr
            td= cardapio._id
            td= cardapio.nome
            td= cardapio.preco
            td
              a(href=cardapio.url+'/update') Atualizar
              span |
=======
extends ../layout

block content
  p= msg
  table(class="uk-table uk-table-striped uk-table-small")
      thead
        tr
          th ID
          th Nome do produto
          th Preço do produto
          th Ação
      tfoot
      tbody
        each cardapio in produtos
          tr
            td= cardapio._id
            td= cardapio.nome
            td= cardapio.preco
            td
              a(href=cardapio.url+'/update') Atualizar
              span |
>>>>>>> ea53228df1cc25b1cfa3c9baa20cab72a6e50471
              a(href=cardapio.url+'/delete') Deletar