extends ../layout


block content
  p Atualizando produto de id #{doc._id} e nome #{doc.nome}
  form(action='update' method='POST')
    input(type='hidden' name='id' value=doc._id)
    input(name='nome' placeholder=doc.nome)
    input(type='submit')
    
    input(name='preco' placeholder=doc.preco)
    input(type='submit')