<<<<<<< HEAD
extends ../layout


block content
  p Atualizando produto de id #{doc._id} e nome #{doc.nome}
  form(action='update' method='POST')
    input(type='hidden' name='id' value=doc._id)
    input(name='nome' placeholder=doc.nome)
    input(type='submit')
    
    input(name='preco' placeholder=doc.preco)
=======
extends ../layout

block content
  p Atualizando produto de id #{doc._id} e nome #{doc.nome}
  form(action='update' method='POST')
    input(type='hidden' name='id' value=doc._id)
    input(name='nome' placeholder=doc.nome)
    input(type='submit')
    
    input(name='preco' placeholder=doc.preco)
>>>>>>> ea53228df1cc25b1cfa3c9baa20cab72a6e50471
    input(type='submit')